@import './prism.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --accent-50: #f0f9ff;
    --accent-100: #e0f2fe;
    --accent-200: #bae6fd;
    --accent-300: #7dd3fc;
    --accent-400: #38bdf8;
    --accent-500: #0ea5e9;
    --accent-600: #0284c7;
    --accent-700: #0369a1;
    --accent-600-rgb: 2, 132, 199;
    --accent-ring: rgba(14, 165, 233, 0.4);
    --ui-font-size: 16px;
    --ui-font: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
  }

  html {
    font-size: var(--ui-font-size);
  }

  body {
    font-family: var(--ui-font);
  }
}
